.CharacterSheet {
  border: 0.5px solid grey;
  margin: 24px 12px;
  border-radius: 16px;
  padding: 12px;
}

.character-attributes-skills {
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 24px;
}

.character-attribute {
  display: flex;
  justify-content: space-between;
}

.character-skill {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.character-skill-buttons {
  display: flex;
  gap: 12px;
}